<h1>New sms message</h1>

<%= render "form", sms_message: @sms_message %>

<br>

<div>
  <%= link_to "Back to sms messages", sms_messages_path %>
</div>



<!-- app/views/sms/new.html.erb -->

<h2>Criar Mensagem Padrão</h2>
<%= form_for @sms_message do |f| %>
  <%= f.label :smsbody, "Mensagem:" %>
  <%= f.text_area :smsbody, class: "form-control" %>

  <%= f.submit "Salvar", class: "btn btn-primary" %>
<% end %>


<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3">
            <div class="sidebar bg-dark">
                <ul class="list-group">
                    <li class="list-group-item active">Dashboard</li>
                    <li class="list-group-item"><%= link_to 'Home', admin_index_path %></li>
                    <li class="list-group-item"><%= link_to 'Gestão de Usuários', user_management_path %></li>
                    <li class="list-group-item"><%= link_to 'Vizualização de Dispositivos', status_path %></li>
                    <li class="list-group-item"><%= link_to 'Gestão de Dispositivos', devices_path %></li>
                    <li class="list-group-item"><%= link_to 'Status dos Dispositivos', status_path %></li>
                    <li class="list-group-item"><%= link_to 'Configuração de Mensagens', sms_messages_path %></li>
                </ul>
            </div>
      </div>
      <!-- /Sidebar -->
      <div class="col-lg-9">
        <h1 class="mt-4">Meus Dispositivos</h1>

        
      </div>      
    </div>
</div>
<%= render partial: 'layouts/footer-admin' %>