<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Painel Administrativo', admin_index_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opções <i class="fa fa-gear"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><%= current_user.name %></a>
            <%= link_to 'Editar', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div> 
        </li>
      </ul>
    </div>
  </nav>
  <!-- /Navbar -->

<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3">
            <div class="sidebar bg-dark">
                <ul class="list-group">
                    <li class="list-group-item active">Dashboard</li>
                    <li class="list-group-item"><%= link_to 'Home', admin_index_path %></li>
                    <li class="list-group-item"><%= link_to 'Gestão de Usuários', user_management_path %></li>
                    <li class="list-group-item"><%= link_to 'Vizualização de Dispositivos', status_path %></li>
                    <li class="list-group-item"><%= link_to 'Gestão de Dispositivos', devices_path %></li>
                    <li class="list-group-item"><%= link_to 'Status dos Dispositivos', status_path %></li>
                    <li class="list-group-item"><%= link_to 'Configuração de Mensagens', sms_messages_path %></li>
                </ul>
            </div>
      </div>
      <!-- /Sidebar -->
      <div class="col-lg-9">
        <h1 class="mt-4">Meus Dispositivos</h1>


        <div class="container">
            <div class="row">
              <% @devices.each do |device| %>
                <div class="card mb-3" style="max-width: 570px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <%= image_tag "dispenser.jpg", alt: "Imagem do Dispenser", class: "img-fluid rounded-start" %>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title"><b><%= device["device"] %></b></h5>
                          <p>Nome Device:  </p>
                          <% if device["status"] == "online" %>
                              <p>Status: Online <span class="status-dot status-online"></span></p>
                          <% else %>
                              <p>Status: Offline <span class="status-dot status-offline"></span></p>
                          <% end %>                          
                          <p>IP Device: <%= device["ipadrrs"] %></p>
                          <p>Quantidade de dose: <%= device["cont"] %></p>
                          <p>Padlock:
                            <% if device["padlock"] == "unlock" %>
                              <button class="fa fa-unlock btn btn-success" type="button"></button>
                            <% else %>
                              <button class="fa fa-lock btn btn-danger" type="button"></button>
                            <% end %>
                          </p>                      
                          <p>Atendentes:</p> 
                          <p class="card-text"><small class="text-muted">Online última vez <%= device["last_seen"].strftime('%d/%m/%Y') %> </small></p>
                      </div>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>

        
      </div>      
    </div>
</div>
<%= render partial: 'layouts/footer-admin' %>
